<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spy Cam Data Collection</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5em">
        <h4>Spy Cam Data Collection</h4>
        <p>Press the capture button to take a picture. Optionally, add a prefix or suffix to the file name.</p>
      </div>
		</div>

		<div class="row">
			<div class="twelve columns">
					<img style="-webkit-user-select: none; width: 75%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 2em;" src="http://192.168.10.1/media/?action=stream">
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<label>Save as:</label>
				<input placeholder="Optional: file_prefix" id="file_name_prefix">
				<span>2019.11.26-23:28:21</span>
				<input placeholder="Optional: file_suffix" id="file_name_suffix">
				<span>.png</span>
			</div>
			<div class="four columns">
				<input class="button-primary u-full-width" type="submit" value="capture!" style="position: relative; transform: translateY(25%)">
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="twelve columns">
				<h5>Saved files</h5>
				<ul>
					<li>2019.11.26-23:28:21.png</li>
					<li>lamp_2019.11.26-23:28:21.png</li>
					<li>lamp_2019.11.26-23:28:21.png</li>
					<li>lamp_2019.11.26-23:28:21_pink.png</li>
				</ul>
			</div>
		</div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
