<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spy Cam Data Collection</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5em">
        <h4>Spy Cam Data Collection</h4>
        <p>Press the capture button to take a picture. Optionally, add a prefix or suffix to the file name.</p>
      </div>
		</div>

		<div class="row">
			<div class="twelve columns">
					<img style="-webkit-user-select: none; width: 75%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 2em;" src="http://192.168.10.1/media/?action=stream">
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<label>Save as:</label>
				<input placeholder="Optional: file_prefix" id="file_name_prefix">
				<span id="file_name_time">2019.11.26-23:28:21</span>
				<input placeholder="Optional: file_suffix" id="file_name_suffix">
				<span id="file_name_type">.png</span>
			</div>
			<div class="four columns">
				<input class="button-primary u-full-width" id="capture_button" type="submit" value="capture!" style="position: relative; transform: translateY(25%)">
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="twelve columns">
				<h5>Saved files</h5>
				<ul id="saved_file_list">
				</ul>
			</div>
		</div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript">
		setInterval(function() {
			var current_time = new Date()
			var current_time_formatted =
				current_time.getFullYear() + '.' +
				(current_time.getMonth() + 1).toString().padStart(2, '0') + '.' +
				current_time.getDate().toString().padStart(2, '0') + '-' +
				current_time.getHours().toString().padStart(2, '0') + ':' +
				current_time.getMinutes().toString().padStart(2, '0') + ':' +
				current_time.getSeconds().toString().padStart(2, '0') + ':' +
				current_time.getMilliseconds().toString().padStart(3, '0');

			document.getElementById('file_name_time').innerHTML = current_time_formatted;
		}, 100);

		document.getElementById('capture_button').onclick = function(e) {
			var file_name_prefix = document.getElementById('file_name_prefix').value;
			var file_name_time = document.getElementById('file_name_time').innerHTML;
			var file_name_suffix = document.getElementById('file_name_suffix').value;
			var file_name_type = document.getElementById('file_name_type').innerHTML;
			var file_name = file_name_prefix + file_name_time + file_name_suffix + file_name_type;
			console.log(file_name);

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/capture_picture', true);
			xhr.setRequestHeader('file_name', file_name);
			xhr.onload = function () {
				var response = JSON.parse(this.responseText)
				console.log(response['status']);
				if (response['status'] == 'success') {
					var list = document.getElementById('saved_file_list');
					var item = document.createElement('li');
					item.innerHTML = response['data'];
					list.insertBefore(item, list.firstElementChild);
				}
			};
			xhr.send();
		}
	</script>
</body>
</html>
